/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // Default publish
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
    // Args and Prefix Adjustments
    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~ //
    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: NANOQ {
        ext.args = "-l ${params.ont_min_read_length} -q ${params.ont_min_base_qual} --json"
    }

    withName: FASTP {
    // change fastp config for UMI detection
    //    ext.args = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 25 --average_qual 25 --length_required 100'
        ext.args = '-U --umi_loc per_read --umi_len 3 --umi_skip 2 --cut_front --cut_tail --trim_poly_x --cut_mean_quality 25 --average_qual 25 --length_required 100'

        container = {
            workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container
                ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/88/889a182b8066804f4799f3808a5813ad601381a8a0e3baa4ab8d73e739b97001/data'
                : task.ext.override_configured_container_registry != false
                    ? 'community.wave.seqera.io/library/fastp:0.24.0--62c97b06e8447690'
                    : 'library/fastp:0.24.0--62c97b06e8447690'
        }
    }

    // Filtering to just properly paired reads
    //  Output then with sort
    withName: BWAMEM2_MEM {
        ext.prefix = { "${meta.id}" }
        ext.args2 = '-b -f 3 -F 2048'
        publishDir = [
            enabled: false
        ]

        container = {
            workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container
                ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/9a/9ac054213e67b3c9308e409b459080bbe438f8fd6c646c351bc42887f35a42e7/data'
                : task.ext.override_configured_container_registry != false
                    ? 'community.wave.seqera.io/library/bwa-mem2_htslib_samtools:e1f420694f8e42bd'
                    : 'library/bwa-mem2_htslib_samtools:e1f420694f8e42bd'
        }
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            path: { "${params.outdir}/bam/bwamem" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: BCFTOOLS_CONSENSUS_AMBIGUOUS {
        ext.prefix = { "${meta.id}.ambiguous" }
        ext.args = '-I'
    }

    withName: NEXTCLADE_DATASETGET {
        container = {
            workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container
                ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/93/936786744b34cf016b948026a6b4e9489011424e15c28dfb2f7d03c31bb4afb5/data'
                : task.ext.override_configured_container_registry != false
                    ? 'community.wave.seqera.io/library/nextclade:3.11.0--155203da8341cfe6'
                    : 'library/nextclade:3.11.0--155203da8341cfe6'
        }
    }

    withName: NEXTCLADE_RUN_N450 {
        ext.prefix = { "${meta.id}-N450" }
        container = {
            workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container
                ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/93/936786744b34cf016b948026a6b4e9489011424e15c28dfb2f7d03c31bb4afb5/data'
                : task.ext.override_configured_container_registry != false
                    ? 'community.wave.seqera.io/library/nextclade:3.11.0--155203da8341cfe6'
                    : 'library/nextclade:3.11.0--155203da8341cfe6'
        }
    }

    withName: NEXTCLADE_RUN_CUSTOM {
        ext.prefix = { "${meta.id}-WG" }
        container = {
            workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container
                ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/93/936786744b34cf016b948026a6b4e9489011424e15c28dfb2f7d03c31bb4afb5/data'
                : task.ext.override_configured_container_registry != false
                    ? 'community.wave.seqera.io/library/nextclade:3.11.0--155203da8341cfe6'
                    : 'library/nextclade:3.11.0--155203da8341cfe6'
        }
    }

    withName: SAMTOOLS_DEPTH {
        // Set the depth based on whether its ONT or ILL
        ext.args = { params.platform == 'nanopore' ? "-a -q ${params.ont_min_base_qual}" : "-a -q 12"}
        ext.prefix = { "${meta.ref_id}_${meta.id}_depth" }
        publishDir = [
            path: { "${params.outdir}/reporting/positional_depth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: BEDTOOLS_COVERAGE {
        ext.prefix = { "${meta.id}_amplicon_stats" }
        ext.args = '-F 0.90'
        publishDir = [
            path: { "${params.outdir}/reporting/amplicon" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: QUAST {
        container = {
            workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container
                ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a5/a515d04307ea3e0178af75132105cd36c87d0116c6f9daecf81650b973e870fd/data'
                : task.ext.override_configured_container_registry != false
                    ? 'community.wave.seqera.io/library/quast:5.3.0--755a216045b6dbdd'
                    : 'library/quast:5.3.0--755a216045b6dbdd'
        }
    }

    withName: "CALCULATE_BAM_VARIATION" {
        // Min read depth slightly below in case of multi-allelic sites in freebayes with low depth after the variant
        ext.args = {
            params.platform == 'nanopore' ?
            "--min_base_qual ${params.ont_min_base_qual} --min_read_count ${params.min_depth - 2}" :
            "--min_base_qual 12 --min_read_count ${params.min_depth - 2}"
        }
        publishDir = [
            path: { "${params.outdir}/reporting/sample_variation" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    // ~~~~~~~~~~~~~~~~~~~~~~~ //
    // Output Path Adjustments
    // ~~~~~~~~~~~~~~~~~~~~~~~ //

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // Reference & Prediction
    withName: "STAGE_FILE_IRIDANEXT" {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: "GENERATE_REF_INTERMEDIATES" {
        publishDir = [
            path: { "${params.outdir}/reference" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "GENERATE_AMPLICON_BED" {
        publishDir = [
            path: { "${params.outdir}/reference" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "SPLIT_AMPLICON_REGION" {
        publishDir = [
            path: { "${params.outdir}/reference/amplicon_regions" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "PREDICT_GENOTYPE" {
        publishDir = [
            enabled: false
        ]
    }

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // Illumina
    withName: "BWAMEM2_INDEX" {
        publishDir = [
            path: { "${params.outdir}/reference" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]

        container = {
            workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container
                ? 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/9a/9ac054213e67b3c9308e409b459080bbe438f8fd6c646c351bc42887f35a42e7/data'
                : task.ext.override_configured_container_registry != false
                    ? 'community.wave.seqera.io/library/bwa-mem2_htslib_samtools:e1f420694f8e42bd'
                    : 'library/bwa-mem2_htslib_samtools:e1f420694f8e42bd'
        }
    }

    withName: "IVAR_TRIM" {
        publishDir = [
            path: { "${params.outdir}/bam/ivar" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "PICARD_MARKDUPLICATES" {
        ext.prefix = { "${meta.id}.markduplicate.sorted" }
        // change markduplicate args
        // ext.args = "--ASSUME_SORTED true --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp --REMOVE_DUPLICATES true "
        ext.args =  "--BARCODE_TAG RX --READ_NAME_REGEX '[a-zA-Z0-9]+:[0-9]+:[a-zA-Z0-9]+:[0-9]:([0-9]+):([0-9]+):([0-9]+):.*\$' --ASSUME_SORTED true --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp --REMOVE_DUPLICATES true "
        publishDir = [
            path: { "${params.outdir}/bam/picard" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: ".*BAM_STATS_SAMTOOLS:.*" {
        publishDir = [
            path: { "${params.outdir}/reporting/samtools_stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "FREEBAYES" {
        publishDir = [
            path: { "${params.outdir}/vcf/freebayes" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "PROCESS_VCF" {
        publishDir = [
            path: { "${params.outdir}/vcf/processed_vcf" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // Nanopore
    withName: "ARTIC_GET_MODELS" {
        publishDir = [
            path: { "${params.outdir}/reference" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "MINIMAP2_ALIGN" {
        publishDir = [
            path: { "${params.outdir}/bam/minimap2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "ALIGN_TRIM" {
        publishDir = [
            path: { "${params.outdir}/bam/artic" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "CLAIR3.*" {
        publishDir = [
            path: { "${params.outdir}/vcf/clair3" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "ARTIC_VCF_MERGE" {
        publishDir = [
            path: { "${params.outdir}/vcf/artic" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "CUSTOM_VCF_FILTER" {
        publishDir = [
            path: { "${params.outdir}/vcf/artic" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "BCFTOOLS_NORM" {
        publishDir = [
            path: { "${params.outdir}/vcf/final" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "VCF_TO_TSV" {
        publishDir = [
            path: { "${params.outdir}/vcf/final" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // Both
    withName: ".*MASK.*" {
        publishDir = [
            path: { "${params.outdir}/mask" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    // We adjust the names later so no need to publish these
    withName: "BCFTOOLS_CONSENSUS.*" {
        publishDir = [
            enabled: false
        ]
    }

    withName: "ADJUST.*" {
        publishDir = [
            path: { "${params.outdir}/consensus" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "COMPARE_INTERNAL_DSID" {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "MAKE_SAMPLE_QC_CSV" {
        publishDir = [
            path: { "${params.outdir}/reporting/sample_csv" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "MAKE_FINAL_QC_CSV" {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    // Reporting Intermediates
    //  Amplicons
    withName: "SAMPLE_AMPLICON.*" {
        publishDir = [
            path: { "${params.outdir}/reporting/amplicon" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "AMPLICON_.*_HEATMAP" {
        publishDir = [
            path: { "${params.outdir}/reporting/amplicon" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "AMPLICON_MULTIQC" {
        publishDir = [
            path: { "${params.outdir}/reporting" },
            pattern: "*.html",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    // Summary
    withName: "POSITIONAL_N_DEPTH" {
        publishDir = [
            path: { "${params.outdir}/reporting/positional_n" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "PYSAMSTATS" {
        publishDir = [
            path: { "${params.outdir}/reporting/positional_quality" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "NORMALIZE_DEPTH_MATRIX" {
        publishDir = [
            path: { "${params.outdir}/reporting/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: "MAKE_CUSTOM_REPORT" {
        publishDir = [[
            path: { "${params.outdir}" },
            pattern: "*.html",
            mode: params.publish_dir_mode,
        ],
        [
            path: { "${params.outdir}/pipeline_info" },
            pattern: "*.yml",
            mode: params.publish_dir_mode,
        ]]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
